$header_background: #4d4d4d;
$panels_background: #f5f5f5;

$message_bubble: #f0f4f8;
$my_message_bubble: #dbf4fd;

.form-signin {
  max-width: 30rem;
  padding: 1rem;
  margin: 0 auto;
  input{
    margin-bottom: 1rem;
  }
}
body {
  padding-top: 50px;
}

.header{
  background-color: $header_background;
  color: #ffffff;
}

.side_panel{
  background-color: $panels_background;
  color: #2e5f95;
  h3{
    font-weight: bold;
  }
}

.wrapper{
  min-height: 100%;
  top: 0px;
  left: 0;
}
.chat, .content {
  height: 100%;
}

.footer{
  bottom:0;
  position:fixed;
  padding:10px;
  height:70px;
  width:100%;
}

.room_row{
  width: 100%;
  .button_group {
    position: absolute;
    right: 0;
  }
  label{
    cursor: pointer;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.glyphicon{
  cursor: pointer;
}

@mixin circle($width, $color) {
  width: $width;
  height: $width;
  background: $color;
  -webkit-border-radius: $width/2;
  -moz-border-radius: $width/2;
  border-radius: $width/2;
}
.circle{
  @include circle(2.25rem, #85ff85);
  display: block;
  margin-left: auto;
  margin-right: auto;
  &.offline{
    background: gray;
  }
  h3 {
    padding-left: 3rem;
  }
}

.splash {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000000;
  opacity: 0.9;
  color: #ffffff;
  h4 {
    position: absolute;
    top: 45%;
    left: 45%;
  }
}


div.rooms ul{
  color: #848484;
  li.active{
    background: #ffffff;
    font-weight: bold;
  }
}

@mixin bubble_triangle($size, $top, $dir:left) {
  content:"";
  width:0;
  height:0;
  border-top: $size solid transparent;
  border-bottom: $size solid transparent;
  @if $dir == left {
    border-left: $size solid $my_message_bubble;
    right:  -$size;
  }
  @if $dir == right {
    border-right: $size solid $message_bubble;
    left:  -$size;
  }
  position: absolute;
  top: $top;
}

div.messages ul li div.text {
  background: $message_bubble;
  padding: 0.3rem;
  margin: 0.3rem;
  position:relative;
  border-radius: 0.625rem;
  &.my{
    background: $my_message_bubble;
  }
  &.my::after {
    @include bubble_triangle(0.7rem, 1.25rem, left);
  }
  &:not(.my)::after {
    @include bubble_triangle(0.7rem, 1.25rem, right);
  }
}