<input id="newRoomName" class="form-control" placeholder="Create room..." />
<span class="input-group-btn">
    <button id="createRoomBtn" class="btn btn-default" type="button"><span class="glyphicon glyphicon-ok"></span></button>
</span>