<form class="form-signin">
    <h2 class="form-signin-heading">Login</h2>
    <label for="username" class="sr-only">Login</label>
    <input type="text" id="username" class="form-control" placeholder="Username" required autofocus>
    <button class="loginBtn btn btn-lg btn-primary btn-block" type="submit">Login</button>
</form>