<% _.each(messages, function(message) { %>
<li>
    <div class="username"><h5><%= message.user.name %></h5></div>
    <div class="text<%if (message.user.name === username) {%> my<% } %>"><h4><%= message.content %></h4></div>
    <div class="username text-right"><h5><%= _.template.formatdate(message.created) %></h5></div>
</li>
<%});%>