<% _.each(rooms, function(room) { %>
<li class="h4 <%if (room.active) {%> active<% } %>">
    <div data-id="<%= room._id %>" data-name="<%= room.name %>" class="input-group room_row">
        <input class="form-control hidden" data-name="<%= room.name %>" value="<%= room.name %>" />
        <label><%= room.name %></label>
        <% if (room.user.name === username) { %>
        <span class="button_group">
            <span class="glyphicon glyphicon-edit"></span>
            <span class="glyphicon glyphicon-remove"></span>
        </span>
        <% } %>
    </div>

</li>
<%});%>