<span class="input-group-addon" id="usernameLabel"></span>
<input id="message" class="form-control" placeholder="Send message..." />
<span class="input-group-btn">
    <button id="sendMessageBtn" class="btn btn-default" type="button"><span class="glyphicon glyphicon-send"></span></button>
</span>